In [2]:
import pandas as pd
raw_df = pd.read_csv('00_src/UDS_Capybara - Master_db.csv')

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
raw_df

,INDUSTRY,PLATFORM,PROFILE,FOLLOWERS,FOLLOWERS EVOLUTION,ENGAGEMENT,POSTS,AVERAGE ENG/ POST,AVERAGE ENG RATE/ POST,ENGAGEMENT RATE/ PROFILE,REACH,VIEWS
0,Fashion,Facebook,adidas,"40,987,373","40,987,373 %",0,0,0 /post,0.00%,0.00%,0,NaN
1,Fashion,Instagram,adidas,"28,844,344","172,653 0.6%",2244917,12,187.1K /post,0.65%,7.78%,"6,940,438",NaN
2,Fashion,Tik Tok,adidas,"6,221,437","105,518 1.73%",717207,30,23.9K /post,0.38%,11.53%,NaN,NaN
3,Fashion,Twitter,adidas,"4,387,870","2,523 0.06%",417,2,208.5 /post,0.01%,0.01%,NaN,NaN
4,Fashion,Youtube,adidas,"1,170,000","40,000 3.54%",8881,26,341.6 /post,0.03%,0.76%,NaN,261.76K
...,...,...,...,...,...,...,...,...,...,...,...,...
157,Fashion,Instagram,ZARA,"61,493,040","79,579 0.13%",3247338,32,101.5K /post,0.17%,5.28%,"80,210,500",NaN
158,Fashion,Facebook,Zara,"30,656,605","-6,917 -0.02%",57026,24,2376 /post,0.01%,0.19%,"382,139",NaN
159,Fashion,Tik Tok,ZARA,"10,416,988","253,707 2.5%",699488,12,58.3K /post,0.56%,6.72%,NaN,NaN
160,Fashion,Twitter,ZARA,"1,375,805",-255 -0.02%,3249,20,162.4 /post,0.01%,0.24%,NaN,NaN
161,Fashion,Youtube,zara,"118,000","1,000 0.85%",0,0,0 /post,0%,0%,NaN,0

In [4]:
raw_df['PLATFORM'] = raw_df['PLATFORM'].str.replace(' ', '').str.lower()

raw_df

,INDUSTRY,PLATFORM,PROFILE,FOLLOWERS,FOLLOWERS EVOLUTION,ENGAGEMENT,POSTS,AVERAGE ENG/ POST,AVERAGE ENG RATE/ POST,ENGAGEMENT RATE/ PROFILE,REACH,VIEWS
0,Fashion,facebook,adidas,"40,987,373","40,987,373 %",0,0,0 /post,0.00%,0.00%,0,NaN
1,Fashion,instagram,adidas,"28,844,344","172,653 0.6%",2244917,12,187.1K /post,0.65%,7.78%,"6,940,438",NaN
2,Fashion,tiktok,adidas,"6,221,437","105,518 1.73%",717207,30,23.9K /post,0.38%,11.53%,NaN,NaN
3,Fashion,twitter,adidas,"4,387,870","2,523 0.06%",417,2,208.5 /post,0.01%,0.01%,NaN,NaN
4,Fashion,youtube,adidas,"1,170,000","40,000 3.54%",8881,26,341.6 /post,0.03%,0.76%,NaN,261.76K
...,...,...,...,...,...,...,...,...,...,...,...,...
157,Fashion,instagram,ZARA,"61,493,040","79,579 0.13%",3247338,32,101.5K /post,0.17%,5.28%,"80,210,500",NaN
158,Fashion,facebook,Zara,"30,656,605","-6,917 -0.02%",57026,24,2376 /post,0.01%,0.19%,"382,139",NaN
159,Fashion,tiktok,ZARA,"10,416,988","253,707 2.5%",699488,12,58.3K /post,0.56%,6.72%,NaN,NaN
160,Fashion,twitter,ZARA,"1,375,805",-255 -0.02%,3249,20,162.4 /post,0.01%,0.24%,NaN,NaN
161,Fashion,youtube,zara,"118,000","1,000 0.85%",0,0,0 /post,0%,0%,NaN,0

In [5]:
unique_platforms = raw_df['PLATFORM'].unique()
print(unique_platforms)

df = raw_df

['facebook' 'instagram' 'tiktok' 'twitter' 'youtube' 'linkedin'
 'intstagram' 'twiiter']

In [6]:
df['PLATFORM'] = df['PLATFORM'].replace({'intstagram': 'instagram', 'twiiter': 'twitter'})

df = df[df['PLATFORM'] != 'linkedin']

unique_platforms = df['PLATFORM'].unique()
print(unique_platforms)

['facebook' 'instagram' 'tiktok' 'twitter' 'youtube']

In [7]:
df.loc[:, 'PROFILE'] = df['PROFILE'].str.replace(' ', '').str.lower()

In [8]:
unique_profiles = df['PROFILE'].unique()

unique_profiles

array(['adidas', 'airbnb', 'allegiant', 'allegiantair', 'amazon', 'apple',
       'asana', 'asos', 'blinkist', 'boohoo', 'calendly', 'carnival',
       'carnivalcruiseline', 'chanel', 'christiandior', 'delta',
       'deltaairlines', 'dior', 'expedia', 'forever21', 'gucci', 'hilton',
       'hostelworld', 'hostelworldâ€“meettheworld', 'instacart', "levi's",
       'leviâ€™s', 'levis', 'netflix', 'nike', 'palisociety', 'pathwright',
       'primark', 'smartsheet', 'spotify', 'tripadvisor', 'trivago',
       'uber', 'uniqlo', 'uniqloglobal', 'viking', 'vikingcruises',
       'vrbo', 'zara'], dtype=object)

In [9]:
df.loc[:, 'PROFILE'] = df['PROFILE'].replace({
    'allegiantair': 'allegiant',
    'carnivalcruiseline': 'carnival',
    'deltaairlines': 'delta',
    'christiandior': 'dior',
    'hostelworldâ€“meettheworld': 'hostelworld',
    'leviâ€™s': 'levis',
    "levi's": 'levis',
    'uniqloglobal': 'uniqlo',
    'vikingcruises': 'viking'
})

In [10]:
unique_prof = df['PROFILE'].unique()

unique_prof

array(['adidas', 'airbnb', 'allegiant', 'amazon', 'apple', 'asana',
       'asos', 'blinkist', 'boohoo', 'calendly', 'carnival', 'chanel',
       'dior', 'delta', 'expedia', 'forever21', 'gucci', 'hilton',
       'hostelworld', 'instacart', 'levis', 'netflix', 'nike',
       'palisociety', 'pathwright', 'primark', 'smartsheet', 'spotify',
       'tripadvisor', 'trivago', 'uber', 'uniqlo', 'viking', 'vrbo',
       'zara'], dtype=object)